.vs/Blogmom/FileContentIndex/1d42a3cc-a6cf-495d-8ff8-9bb5189d1c47.vsidx
.vs/Blogmom/config/applicationhost.config
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/Blogmom/FileContentIndex/6d8873d3-c08b-421f-86df-468670f5d77e.vsidx
